@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import "bootstrap";

@brand-primary: #CC0000;
@linkedin-color: #196BB9;
@twitter-color: #169CF1;
@instagram-color: #3A6C97;
@nav-link-hover-bg: transparent;
@font-size-base: 15px;
@font-family-sans-serif: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

a.link-license {
  color: darken(@brand-primary, 10%);
}

.btn-linkedin {
  color: @linkedin-color;
  font-weight: bold;
}

.btn-linkedin:hover {
  color: darken(@linkedin-color, 10%);
}

.btn-twitter {
  color: @twitter-color;
  font-weight: bold;
}

.btn-twitter:hover {
  color: darken(@twitter-color, 10%);
}

.btn-instagram {
  color: @instagram-color;
  font-weight: bold;
}

.btn-instagram:hover {
  color: darken(@instagram-color, 10%);
}

.navbar-luca3m {
  .navbar-brand {
    padding-left: 0px;
    font-size: 32px;
  }
  .navbar-toggle {
    font-size: 20px;
  }
}

@media(max-width:767px) {
  .navbar-luca3m {
    a {
      font-size: 20px;
    }
  }
}
