<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/application.css">
  <!-- Custom CSS -->
  <!--<link rel="stylesheet" href="/css/main.css">-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-xs-12">
      <h1><a href="/">{{ site.name }}</a></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        {{ content }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-6">
      <p class="text-right"><small>Copyright © 2013 Luca Marturana. <a class="link-grey" href="http://creativecommons.org/licenses/by-sa/4.0/"><a class="link-grey" href="http://creativecommons.org/licenses/by-sa/4.0/">License</a>.</small></p>
      </div>
    </div>
  </div>
</body>
</html>
