<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">
  <!-- Main CSS -->
  <link rel="stylesheet" href="/css/application.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49738791-1', 'luca3m.me');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
      <nav class="navbar navbar-luca3m" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="btn btn-link navbar-toggle" data-toggle="collapse" data-target="#collapsed-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-info-sign"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="collapsed-menu">
          <ul class="nav navbar-nav">
            <li><a class="btn btn-link btn-linkedin" target="_blank" href="http://it.linkedin.com/in/lucamarturana" >LinkedIn</a></li>
            <li><a class="btn btn-link btn-twitter" target="_blank" href="http://twitter.com/luca3m">Twitter</a></li>
            <li><a class="btn btn-link btn-instagram" target="_blank" href="http://instagram.com/luca4m">Instagram</a></li>
          </ul>
        </div>
      </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        {{ content }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-6">
      <p class="text-right"><small>Copyright © 2014-2016 Luca Marturana. <a class="link-grey" href="http://creativecommons.org/licenses/by-sa/4.0/"><a class="link-license" href="http://creativecommons.org/licenses/by-sa/4.0/">License</a>.</small></p>
      </div>
    </div>
  </div>
</body>
</html>
